@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-SemiBold.eot");
    src:
        local("Inter SemiBold"),
        local("Inter-SemiBold"),
        url("../assets/fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../assets/fonts/Inter-SemiBold.woff") format("woff"),
        url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Light.eot");
    src:
        local("Inter Light"),
        local("Inter-Light"),
        url("../assets/fonts/Inter-Light.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Inter-Light.woff2") format("woff2"),
        url("../assets/fonts/Inter-Light.woff") format("woff"),
        url("../assets/fonts/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Bold.eot");
    src:
        local("Inter Bold"),
        local("Inter-Bold"),
        url("../assets/fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
        url("../assets/fonts/Inter-Bold.woff") format("woff"),
        url("../assets/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.eot");
    src:
        local("Inter Regular"),
        local("Inter-Regular"),
        url("../assets/fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
        url("../assets/fonts/Inter-Regular.woff") format("woff"),
        url("../assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Medium.eot");
    src:
        local("Inter Medium"),
        local("Inter-Medium"),
        url("../assets/fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/Inter-Medium.woff2") format("woff2"),
        url("../assets/fonts/Inter-Medium.woff") format("woff"),
        url("../assets/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "remixicon";
    src: url("../assets/icons/remixicon.eot"); /* IE9*/
    src:
        url("../assets/icons/remixicon.eot#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../assets/icons/remixicon.woff2") format("woff2"),
        url("../assets/icons/remixicon.woff") format("woff"),
        url("../assets/icons/remixicon.ttf") format("truetype"),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url("../assets/icons/remixicon.svg#remixicon")
            format("svg"); /* iOS 4.1- */
    font-display: swap;
}
